<style>
  .text-base-lightest{
    color: #F9F9F6;
  }
  .text-warning{
    color: #ffbe2e;
  }
  .text-secondary-dark{
    color: #1a4480;
  }
</style>

<div style="display: flex; align-items: flex-end">
  <div style="padding-right: 1em; text-align: center;">
    <usa-stacked-icon [size]="'sm'">
      <usa-icon class="usa-stack-icon" [size]="'2x'" [icon]="'square-fill'"></usa-icon>
      <usa-icon class="usa-stack-icon text-base-lightest" [size]="'lg'" [icon]="'hand-thumbs-down'"></usa-icon>
    </usa-stacked-icon>
    <p>sm</p>
  </div>
  <div style="padding-right: 1em; text-align: center;">
    <usa-stacked-icon [size]="'2x'">
      <usa-icon class="usa-stack-icon" [size]="'2x'" [icon]="'circle-fill'"></usa-icon>
      <usa-icon class="usa-stack-icon text-warning" [size]="'lg'" [icon]="'cone'"></usa-icon>
    </usa-stacked-icon>
    <p>2x</p>
  </div>
  <div style="padding-right: 1em; text-align: center;">
    <usa-stacked-icon [size]="'4x'">
      <usa-icon class="usa-stack-icon text-secondary-dark" [size]="'2x'" [icon]="'diamond-fill'"></usa-icon>
      <usa-icon class="usa-stack-icon text-base-lightest" [size]="'lg'" [icon]="'diamond'"></usa-icon>
    </usa-stacked-icon>
    <p>4x</p>
  </div>
