<style>
  .single-icon-wrapper p {
    margin: 0;
    width: fit-content;
    text-align: center;
  }
  .all-icon-wrapper{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
  }
  .single-icon-wrapper{
    display: flex;
    padding: 1rem;
    border: 1px solid black;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .all-library-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

</style>
<div class="all-library-wrapper">
  <ng-container *ngIf="icons.uswds.length > 0">
    <h1>USWDS Icons</h1>
    <div class="all-icon-wrapper">
      <div *ngFor="let item of icons.uswds" class="single-icon-wrapper">
        <usa-icon [icon]="item.lookup" [rotate]=rotate [size]=size [skew]="skew ? skew : [0]"></usa-icon>
        <p>{{item.display}}</p>
      </div>
    </div>
  <br>
  </ng-container>
  <ng-container *ngIf="icons.sds.length > 0">
    <h1>SDS Icons</h1>
    <div class="all-icon-wrapper">
      <div *ngFor="let item of icons.sds" class="single-icon-wrapper">
        <usa-icon [icon]="item.lookup" [rotate]=rotate [size]=size [skew]="skew ? skew : [0]"></usa-icon>
        <p>{{item.display}}</p>
      </div>
    </div>
  <br>
  </ng-container>
  <ng-container *ngIf="icons.bootstrap.length > 0">
    <h1>Bootstrap Icons</h1>
    <div class="all-icon-wrapper">
      <div *ngFor="let item of icons.bootstrap" class="single-icon-wrapper">
        <usa-icon [icon]="item.lookup" [rotate]=rotate [size]=size [skew]="skew ? skew : [0]"></usa-icon>
        <p>{{item.display}}</p>
      </div>
    </div>
  </ng-container>
</div>
