<div class="icon-container">
  @for (key of keys; track key) {
    <div class="icon">
      <usa-icon [icon]="key"></usa-icon>
      <p class="sml">{{ key }}</p>
    </div>
  }
</div>
<hr />
<div class="icon-container">
  @for (key of sdsKeys; track key; let i = $index) {
    <div class="icon">
      <usa-icon [icon]="sdsUniqueNames[i]"></usa-icon>
      <p class="sml">{{ key }}</p>
    </div>
  }
</div>
<hr />
<div class="icon-container">
  @for (key of uswdsKeys; track key) {
    <div class="icon">
      <usa-icon [icon]="key"></usa-icon>
      <p class="sml">{{ key }}</p>
    </div>
  }
</div>

<router-outlet></router-outlet>
