@import "../../projects/icons/src/lib/icon/icon.component.scss";

.icon-container{
  display: flex;
  flex-wrap: wrap;
  width: calc(100vw - 10rem);
  margin-left: 5rem;
  margin-right: 5rem;
  .icon{
    padding: 0.5rem;
    display: flex;
    align-items: center;
    flex-flow: column;
    width: 5rem;
  }
}

.header-container{
  margin-left: 100px;
  font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif !important;
  font-size: 1.13rem;
  line-height: 1.1;
  font-weight: bold;
  color: #454540;
}

.sml{
  font-family: Source Sans Pro Web,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif!important;
  font-size: 0.87rem;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

.bi-bold {
  -webkit-text-stroke: 1px !important;
}